<%= form_with(model: @trip, local: true, class: 'ui form') do |f| %>
  <div class='field'>
    <%= f.label :trip_name %>
    <%= f.text_field :trip_name, required: true, placeholder: 'Trip Name' %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name, require: true, placeholder: 'First Name' %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, require: true, placeholder: 'Last Name' %>

    <%= f.label :party_size %>
    <%= f.text_field :party_size, require: true, placeholder: 'Party Size'%>

  </div>
  <div class = bre>
  <%= f.submit nil, class: "ui secondary button" %>
  </div>
<% end %>
