<h1><%= @trip.trip_name %></h1>
<p>what do you want to do</p>
<%= link_to 'Edit Trip', edit_trip_path(@trip) %>
<br />
<%= link_to 'Delete Trip', @trip, method: :delete %>
<br />
<%= link_to 'Edit current trip', edit_trip_path(@trip) %>
<br />
<%= link_to 'View locations', locations_path %>
