<!DOCTYPE html>
<html>
  <head>
    <title>TripTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link ="stylesheet" href ="trips.scss">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <nav>
  <w2>
    <%= render 'layouts/navbar' %>
  </w2>
  </nav>

<body>

    <%= yield %>
  </body>

</html>
